@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{  font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    max-width: 1280px;
}

.gif{
    margin-left: 12%;
    margin-top: 60px;
    cursor: pointer;
    width: 100%;

}

/*menu*/
.menu-list-block{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow:2px 2px 2px 1px rgb(255, 255, 255);
    border-radius: 0px;
    z-index: var(--z-index-top); /*Alteração para fixar o menu no topo*/
    --z-index-top: 9999;
}
.dropdown{
    width: 250px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    margin-left: 50px;
    margin-top: 2%;
}

.dropdown > a{
    border-radius: 2px;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
}

.dropdown > a::after{
    content: "";
    float: right;
    margin: 15px 15px 0 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #f7ca6d;
}

.dropdown ul{
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    box-shadow:0 6px 5px -5px rgba(0,0,0,0.3);
    overflow: hidden;
}

.dropdown a{
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff4d00;
    background-color: #ffff;
}

.dropdown li{
    height: 0;
    overflow: hidden;
    transition: all 500ms;
}

.dropdown li:first-child a{
    border-radius: 2px 2px 0 0;
}

.dropdown li:last-child a{
    border-radius: 0 0 2px 2px;
  }

  .dropdown li:first-child a::before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #EEE;
    margin: -10px 0 0 30px;
  }

  .dropdown a:hover{
    background-color: #EEE;
    color: #1c263c;
  }

  .dropdown > a:hover::after{
    border-top-color: #f7ca6d;
  }
  .dropdown li:first-child a:hover::before {
    border-bottom-color: #f7ca6d;
  }
  
  .dropdown.hover:hover li{
    height: 40px;
  }

  label{
    padding:5px;
    background-color: #ff4d00;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;

  }

  #btn-mobile{
    display: block;
    color: #ff4d00;
  }

  .menu-list-block.active #menu{
    display: flex;
  }

  pad-home img{
    width: 80%;
  }

/*ultimas noticias*/

.news h2{
    margin-top: 40px;
    font-size: 50px;
    padding: 40px;
    text-align: left;
    color: #1c263c;
}

.news h2 span{
    color: #ff4d00;
}


.news-1, .news-2{
    display: flex;
    padding: 18px;
    max-width: 80%;
}

.news-mother img{
margin-top: 12%;
border-radius: 40px;
margin-right: 18px;
width: 280px;
align-items:center;
margin-left: 20px;
}
.news-mother h3{
    color: #1c263c;
    font-size: 25px;
    margin-top: 40px;
    font-weight: 800;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;
    
}

.news-mother p{
    margin-top:40px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 40px;
}

.news-mother button{
    padding: 20px;
    border-radius: 62px;
    margin-top: 20%;
    margin-left: 40px;
    background-color: #ff4d00;
    border: none;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

#third-btn{
    margin-top: 36%;
}

#sec-btn{
    margin-left: 50px;
}

.news-mother button span{
    padding: 20px;
font-size: 30px;
color: #fff;
font-weight: 400;
}

.news-mother button:hover{
    padding: 30px;
    margin-left: 20%;
    background-color: #1c263c;
}

#btn-five{
    margin-top: 23%;

}

#btn-six{
    margin-top: 30%;
}
/*mover explica*/
.explication{
    background-color: #FFF;
    padding: 5%;
}

.explication h2{
    margin-top: 40px;
    font-size: 60px;
    padding: 40px;
    text-align: left;
    color: #ff4d00;
}

.explication h2 span{
    color: #1c263c;
}

#explication-p{
    margin-top: 20px;
    font-size:30px;
    font-weight: 600;
    color: #1c263c;
}
.exp-1{
    display: flex;
    justify-content: space-between;
}

.exp-1 div{
    padding: 20px;
    width: 80%;
}
.exp-1 img{
    width:100%;
    border-radius: 62px;
    margin-top: 30px;
}

.exp-1 h3{
    color: #1c263c;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 800;
    font-weight: 700;
    
}

.exp-1 p{
    margin-top:40px;
    font-size: 25px;
    text-align: left;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 40px;
}

.exp-1 button{
    padding: 20px;
    border-radius: 62px;
    margin-top: 40px;
    margin-left: 20%;
    background-color: #ff4d00;
    border: none;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    margin-top: 100px;
    
}

.exp-1 button span{
    padding: 20px;
font-size: 30px;
color: #fff;
font-weight: 400;

}

.exp-1 button:hover{
    padding: 30px;
    margin-left: 20%;
    background-color: #1c263c;
}

#btn-exp1{
    margin-top: 45%;
}

#btn-exp2{
margin-top: 40%;}

/*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    width: auto;
    width: 100%;
    box-sizing: border-box;
}

.list-menu-footer li{
    margin-left: 20px;
    text-decoration: none;
    list-style-type: none;
    margin-top: 10px;
}

.list-menu-footer li a {
    color: #ff4d00;
    font-size: 30px;
    font-weight: 600;
}

.list-menu-footer li a:hover{
    color: #1c263c;
    transition-delay: 10ms;
}

.footer-cascata{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

hr{

    margin-left: 200px;
}

.certifica{
    margin-left: 140px;

}

.form-all{
    color: #ff4d00;
    font-size: 60px;
    margin-left: 20px;
    max-width: auto;
}

.certifica p{
    font-size: 20px;
}

.sobre-footer{
    margin-left: 20%;

}

.sobre-footer h4{
    font-size: 20px;
    color: #000;
    font-weight: 200;
    margin-left: 0;
    margin-top: 40px;
    
}

.hubspot{
    width: 600px;
    max-width: 200%;
    margin-top: 40px;

}

.footer-cascata h4{
    font-size: 40px;
    color: #ff4d00;
}

.footer-cascata img{
    margin-top: 20px;
}
.sobre-footer{
    padding-top: 20px;
}

#hr-footer{
    width: 100%;
    margin-left: 20px;
    margin-top: 2%;
    align-items: center;
    height: 1px;
    border: 0px;
    border-top: 1px solid red;
    background-color: #dddddd;
}

.contato,div span{
    font-size: 30px;
    color:#ff4d00;
    margin-left: 10px;
}

.mail-a{
    margin-top: 20px;
}